[tool.poetry]
name = "langcorn"
version = "0.0.4"
description = "A Python package creating rest api interface for LangChain"
authors = ["Alexander Miasoiedov <msoedov@gmail.com>"]
maintainers = [
    "Alexander Miasoiedov <msoedov@gmail.com>",
]
repository = "https://github.com/msoedov/langcorn"
license = "MIT"
readme = "Readme.md"
keywords = ["nlp", "langchain", "openai", "gpt", "fastapi"]
packages = [{ include = "langcorn", from = "." }]


[tool.poetry.scripts]
langcorn = "langcorn.__main__:entrypoint"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.92.0"
uvicorn = "^0.20.0"
langchain = "^0.0.139"
openai = "^0.27.2"
fire = "^0.5.0"
loguru = "^0.7.0"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
mypy = "^1.1.1"
httpx = "^0.23.3"
pytest = "^7.2.2"
types-requests = "^2.28.11"
pre-commit = "^3.2.2"

[tool.ruff]
line-length = 120

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
